body {
  margin-top: 3px;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 10px;

  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

nav {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 10px, 40px;
  border-bottom: 1px solid;
}

a {
  color: purple;
  text-decoration: none;
}

li {
  font-size: 1.5rem;
}


.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.open-button {
  padding: 10px 20px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-card {
  background: white;
  padding: 20px 30px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  text-align: center;
  box-shadow: 0px 10px;
}

.close-button {
  margin-top: 20px;
  padding: 8px 16px;
  cursor: pointer;
}
